{{!--
<div class="callout small primary">
    <div class="text-center">
        <h1>Fortnite!</h1>
    </div>
</div> --}} {{#each blog}}

<article class="grid-container">
    <div class="grid-x align-center">
        <div class="cell medium-8">
            <div class="blog-post">
                <h3>
                    <a href="/blog/{{id}}">{{title}}</a>
                </h3>

                <p>{{writeup}}</p>
                <iframe width="550" height="315" src="https://www.youtube.com/embed/{{  youtubevideo }}" frameborder="0" allow="autoplay; encrypted-media"
                    allowfullscreen> </iframe>
                <div class="callout">
                    <ul class="menu simple">
                        <li>
                            {{createdAt}}
                        </li>
                        <li>
                            <a href="#">{{author}}</a>
                        </li>
                        <li>
                            <form action="/blog/edit/{{id}}" method="GET">
                                <input type="submit" value="Edit"> </form>
                        </li>
                        <li>
                            <form onsubmit="return confirmDelete()" method="POST" action="/blog/{{id}}?_method=delete">
                                <input type="submit" value="Remove">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</article>
{{/each}}